.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0.3rem;
    border: 1px solid rgb(175, 173, 173);
    padding: 1rem 08%;
    border-radius: 2rem;
}