<mat-card class="card">
    <mat-card-header>
  
      <mat-card-title>ADS Help Desk</mat-card-title>
      <mat-card-subtitle>Adson Dev</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Imagem Home Central de ajuda">
    <mat-card-content>
      <p>
       Olá ! Seja bem vindo ao sistema Help Desk Desenvolvido por Adson Sá <br>
       Esse é um Sistema para gerenciamento de chamada simulando um Help desk desenvolvido em Angular 12 e Spring Boot 2.
       <br> O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku.<br />
       O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
       Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
       <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
       <br /> At.te: Adson Conceição dos Santos Sá / celular: (11) 968285185    
        
      </p>
    </mat-card-content>
  </mat-card>
  